.options-popup{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.1s ease-in-out;
  width: 100vw;
  z-index: 0;

  &.open{
    opacity: 1;
    pointer-events: auto;
  }

  .popup-body{
    background-color: #fff;
    border-radius: 6px;
    padding: 30px;
    z-index: 10;

    h3{
      text-align: center;
      margin-top: 0;
    }

    .row{
      display: flex;
      width: 100%;

      .col{
        display: inline-flex;
        flex: 1 1 auto;
        flex-direction: column;
        margin-right: 30px;

        &:last-child{
          margin-right: 0;
        }

        label{
          width: 100%;
          margin-bottom: 10px;
        }

        input{
          max-width: 20vw;
        }
      }
    }
  }

  .popup-background{
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}