.timer{
  text-align: center;

  h2{
    font-size: 14vw;
    margin: -2vw 0 2vw 0;

    @media screen and (min-width: 1024px){
      font-size: 10vw;
    }
  }

  .buttons-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }
}