.navbar{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100%;

  .navbar-buttons{
    button{
      padding: 9px;
    }
  }
}