*{
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.App{
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

button{
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid #efefef;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding: 12.5px;

  &:last-child{
    margin-right: 0;
  }

  &:hover{
    background-color: #efefef;
  }
}

i{
  font-size: 1.1rem;
}

input{
  border-radius: 6px;
  border: 2px solid #efefef;
  line-height: 1.75;
  padding: 2.5px 5px;
  width: auto;
}