.button-group{
  button{
    border-radius: 0px;
    cursor: pointer;
    margin-right: 0px;
    outline: none;
    padding: 9px 14px;

    &:not(:last-child){
      border-right: 0px;
    }

    &:first-child{
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-child{
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:hover{
      background: #efefef;
    }
  }
}